/* reseting defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* body styling, Roboto font to be used for navigation and headings, Lato font to be used for paragraph text */
body {
    font-family: "Roboto", "Verdana", sans-serif;
    overflow-x: hidden;
}

/* -------------------------------------------------------------------------------------homepage styling */
/* callout container styling */
.callout-container {
    height: 100%;
    min-height: 90vh;
    /* homepage hero image by alevision.co on Unsplash */
    background-image: url("../images/home_img_mad_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    max-height: 95%;
    max-width: 99%;
    min-width: 60%;

}

/* -------------------------------------------------------------------------------------cities page styling */
.athens-container {
    height: 100%;
    min-height: 90vh;
    /* image by Tania Mousinho on Unsplash */
    background-image: url("../images/athens/acropolis_close_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lisbon-container {
    height: 100%;
    min-height: 90vh;
    /* image by Vali Sachadonig on Unsplash */
    background-image: url("../images/lisbon/lisbon_tram_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rome-container {
    height: 100%;
    min-height: 90vh;
    /* image by David Billings on Unsplash  */
    background-image: url("../images/rome/colloseum_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------------------------------------------Athens page styling */
#athens-main-page {
    height: 110vh;
    /* homepage hero image by alevision.co on Unsplash */
    background-image: url("../images/athens/evzonoi_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#data {
    height: 50vh;
    width: 100vw;
}

#map {
    height: 50vh;
    width: 100vw;
}


/* -------------------------------------------------------------------------------------book page styling */
.book-paragraph {
    font-family: "Lato", "Verdana", sans-serif;
}

/* -------------------------------------------------------------------------------------about page styling */
#about-paragraph {
    font-family: "Lato", "Verdana", sans-serif;
    text-align: left;
}

/* -------------------------------------------------------------------------------------footer styling */
footer {
    clear: both;
    background-color: #525252;
}

footer div {
    color: #fff;
    padding: 20px;
}

h4 {
    text-align: center;
}

/* social media icons and other font awesome icons styling */
i {
    font-size: xx-large;
    color: #fff;
    padding: 10px;
}