/* reseting defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* body styling, Roboto font to be used for navigation and headings, Lato font to be used for paragraph text */
body {
    font-family: "Roboto", "Verdana", sans-serif;
    overflow-x: hidden;
}

/* -------------------------------------------------------------------------------------homepage styling */
/* callout container styling */
.callout-container {
    height: 100vh;
    /* homepage hero image by Vali Sachadonig on Unsplash */
    background-image: url("../images/main_hero_image_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* -------------------------------------------------------------------------------------cities page styling */
.athens-container {
    clear: both;
    width: 90vw;
    height: 40vh;
    background-image: url("../images/athens/acropolis_aerial_view_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rome-container {
    clear: both;
    width: 90vw;
    height: 40vh;
    background-image: url("../images/rome/rome_street_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------------------------------------------footer styling */
footer {
    clear: both;
    background-color: #525252;
}

footer div {
    color: #fff;
    padding: 20px;
}

h4 {
    text-align: center;
}

/* social media icons styling */
footer div i {
    font-size: xx-large;
    color: #fff;
    padding: 10px;
}