/* reseting defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* body styling, Roboto font to be used for navigation and headings, Lato font to be used for paragraph text */
body {
    font-family: "Lato", "Verdana", sans-serif;
    overflow-x: hidden;
}